name: Deploy Next.js to EC2

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: Install & Build
      run: |
        cd my-app
        npm install --legacy-peer-deps
        npm run build

    - name: Upload Build to EC2
      uses: appleboy/scp-action@v0.1.4
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_KEY }}
        source: "my-app/*"
        target: "/home/ubuntu/my-app"

    - name: Restart app on EC2
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_KEY }}
        script: |
          cd /home/ubuntu/my-app
          npm install --production --legacy-peer-deps
          pm2 restart nextapp || pm2 start npm --name nextapp -- start
          pm2 save
