name: Deploy Next.js to EC2

on:
  push:
    branches:
      - main   # nuvvu use chesthunna branch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 18

    - name: Install dependencies
      run: npm install

    - name: Build app
      run: npm run build

    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_KEY }}
        script: |
          cd /home/ubuntu/varahanarasimha-portfolio/my-app
          git pull origin main
          npm install
          npm run build
          pm2 restart portfolio || pm2 start npm --name portfolio -- start
